<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carga de datos - JANUS</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/cargaArchivo.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="app-header">
        <div class="logo-janus">JANUS</div>
        <a th:href="@{/home}" class="volver">← Volver</a>
    </header>
    
    <main class="app-content">
        <h1>Carga de datos desde Excel</h1>
        
        <div class="modulos-carga">
            <div class="modulo-carga" onclick="ejecutarCarga('modelos')">Modelos</div>
            <div class="modulo-carga" onclick="ejecutarCarga('permisos')">Permisos</div>
            <div class="modulo-carga" onclick="ejecutarCarga('vias')">Vías</div>
            <div class="modulo-carga" onclick="ejecutarCarga('autorizaciones')">Autorizaciones</div>
            <div class="modulo-carga peligro" onclick="ejecutarCarga('borrar')">Borrar tablas</div>
        </div>
        
        <pre id="resultadoCarga" class="consola"></pre>
    </main>
    
    <script th:src="@{/js/cargaArchivo.js}"></script>
</body>
</html>