<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio - JANUS</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
</head>
<body>

<header class="app-header">
    <div class="logo-janus">JANUS</div>

    <div class="user-area">
        <span class="user-name" th:text="${#authentication.name}">usuario</span>
        <a th:href="@{/logout}" class="logout-link">Cerrar sesión</a>
    </div>
</header>

<main class="app-content">
    <h1>Panel principal</h1>

    <div class="modulos">
		  <div class="modulo" onclick="location.href='/cargaInterfaz'">
		    <h2>Carga de datos por interfaz</h2>
		    <p>Carga de información mediante interfaz a base de datos</p>
		</div>
	     <div class="modulo" onclick="location.href='/cargaArchivo'">
		    <h2>Carga de datos por archivo</h2>
		    <p>Carga de información desde un archivo a base de datos</p>
		</div>
	    <div class="modulo" onclick="location.href='/subidaArchivo'">
		    <h2>Subida de archivos</h2>
		    <p>Subida de archivos para cargar datos. Ej: CSV, XLSX, TXT, JSON</p>
		</div>
		
    </div>
</main>

</body>
</html>
