<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acceso - Janus</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
    
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5 pt-5">

            <div th:if="${param.error}" class="alert alert-danger">
                Usuario o contraseña incorrectos.
            </div>

            <div th:if="${param.logout}" class="alert alert-success">
                Sesión cerrada correctamente.
            </div>

            <div id="contenedorLogin">

                <div class="login-header">
                    <div class="logo-janus">JANUS</div>

                    <div id="contenedorVersion">
                        <small id="smallVersion">v1.0.0</small>
                    </div>
                </div>

                <div id="login">
                    <div id="loginData">
                        <form th:action="@{/login}" method="post">

                            <div class="row mb-4 contenedorDesplazable">
                                <div class="col-1 icon-container">
                                    <i class="material-icons-outlined">person</i>
                                </div>
                                <div class="col-11 contenedorLoginInput">
                                    <input type="text" class="loginInput" id="username" name="username" placeholder="Usuario" required>
                                </div>
                            </div>

                            <div class="row mb-4 contenedorDesplazable">
                                <div class="col-1 icon-container">
                                    <i class="material-icons-outlined">lock</i>
                                </div>
                                <div class="col-11 contenedorLoginInput">
                                    <input type="password" class="loginInput" id="password" name="password" placeholder="Contraseña" required>
                                    <span class="toggle-password" onclick="togglePassword()">
                                        <i class="material-icons-outlined">visibility</i>
                                    </span>
                                </div>
                            </div>

                            <div class="contenedorButtonTeclado">
                                <button type="submit" class="btn-azul">Entrar</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/login.js}"></script>
</body>
</html>
